---
---

<section class="section lyrics-section">
  <div class="container">
    <div class="lyrics-grid">
      <div class="lyrics-box">
        <h3 class="lyrics-title">True Brew</h3>
        <div class="lyrics-container">
          <p>Some say that nothing lasts forever<br>But no one knows what happens when you die<br>So if this is all there is, it's now or never<br>Life's too short to not give it a try…</p>
          <p>Some say that nothing lasts forever<br>But no one knows what happens when you die<br>So if this is all there is, it's now or never<br>Life's too short to not give it a try<br>So try your wings, find out if you can fly, yeah</p>
          <p>I don't wanna live my life doing stuff I don't like to do<br>I just wanna spend my time on creating something true<br>I don't wanna live my life just pretending what I'm not<br>I just wanna spend my time living my life on the spot</p>
          <p>I've spent my last three years in college<br>As the oldest guy there, I got my degree<br>And I guess it all gave me some kind of knowledge<br>But anyway I'm still just as naive<br>Hoping greener grass' still waiting there for me</p>
          <p>I don't wanna live my life doing stuff I don't like to do<br>I just wanna spend my time on creating something true<br>I don't wanna live my life just pretending what I'm not<br>I just wanna spend my time living my life on the spot</p>
          <p>It's not about the size of any wallet (true brew we call it)<br>It's not about the fortune or the fame (that's not our aim)<br>True brew is what we'd like to call it<br>It's a freedom both scary and lovely, you want all the same<br>True brew will always be the aim</p>
          <p>I just want to live for something true<br>I don't care if it's good enough for you<br>I just wanna create something true</p>
          <p>I don't wanna live my life doing stuff I don't like to do<br>I just wanna spend my time on creating something true<br>I don't wanna live my life just pretending what I'm not<br>I just wanna spend my time living my life on the spot</p>
          <p>'Cause it's my true brew (I don't wanna live my life doing stuff I don't like to do)<br>This is my true brew, yeah (I just wanna spend my time on creating something true)<br>This is what I do (I don't wanna live my life just pretending what I'm not)<br>What I like to do (I just wanna spend my time living my life on the spot)<br>Don't care if it's good enough for you</p>
        </div>
        <iframe src="https://open.spotify.com/embed/track/2Yj1mVu6ONbiz4zaxDq4PH?utm_source=generator" class="spotify-embed" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
      
      <div class="lyrics-box">
        <h3 class="lyrics-title">Birdie</h3>
        <div class="lyrics-container">
          <p>Everything is up to you, oh that you aware<br>yeah you know just what you gotta do, the heart must be fare<br>you got your advance<br>forget about your worries now, we all make mistakes<br>you gotta make it anyhow 'cause you got what it takes right</p>
          <p>now here's your big chance<br>you gotta make a move now</p>
          <p>'Cause you're free to be all that you want to<br>So never let the days pass by<br>There's not a thing in this world that you can't do<br>All you gotta do is try<br>And you want to, yeah, we all want to</p>
          <p>You know you gotta have a goal, before it's too late<br>So come on, you just have to be careful<br>just make your own fate now<br>You gotta make an effort, you gotta make your move now</p>
          <p>'Cause you're free to be all that you want to<br>So never let the days pass by<br>There's not a thing in this world that you can't do<br>All you gotta do is try<br>And you want to, yeah we all want to learn to fly</p>
          <p>Yeah I know it's not an easy mission<br>To keep your goals up and so high<br>'Cause I know you've got ambition<br>So don't deny, now all you gotta do is try</p>
          <p>'Cause you're free now<br>Yeah, you're free to be all that you want to<br>But let it be now<br>So never let the days pass by<br>'Cause you're free to be all that you want to<br>So never let the days pass by<br>There's not a thing in this world that you can't do<br>now all you gotta do is try, and you want to<br>yeah we all want to</p>
        </div>
        <iframe src="https://open.spotify.com/embed/track/70TDwYQ4ymjzX5iZVX3ygv?utm_source=generator" class="spotify-embed" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>

<style>
  .lyrics-section {
    padding: 5rem 0;
    background-color: var(--color-black);
  }
  
  .lyrics-grid {
    display: grid;
    gap: 2rem;
  }
  
  .lyrics-box {
    background-color: rgba(127, 29, 29, 0.3);
    padding: 2rem;
    border-radius: 0.5rem;
    backdrop-filter: blur(4px);
    border: 1px solid rgba(127, 29, 29, 0.3);
  }
  
  .lyrics-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-red);
    margin-bottom: 1rem;
  }
  
  .lyrics-container {
    height: 300px;
    overflow-y: auto;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
    color: #d1d5db;
  }
  
  .lyrics-container p {
    margin-bottom: 1rem;
  }
  
  .spotify-embed {
    width: 100%;
    height: 152px;
    border-radius: 12px;
  }
  
  @media (min-width: 768px) {
    .lyrics-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
